absl-py
aiohttp
aiosignal
asttokens
astunparse
attrs
Babel
certifi
charset-normalizer
click
colorama
comm
db @ git+https://github.com/E-commerce-Pecista/db-connection.git@467278be13633642dabb8989ac5de150ad8dfcdb
debugpy
decorator
distlib
ecomm @ git+https://github.com/E-commerce-Pecista/ecomm-tools@815a143a0360fd43100f99de8f060a78a6dfabbc
et-xmlfile
executing
filelock
flatbuffers
frozenlist
fsspec
gast
get_info_ml @ git+https://github.com/E-commerce-Pecista/get-info-ml@16442c9ad223ebbc91c433af13d0c8543bd52a29
ghp-import
google-pasta
grpcio
h5py
huggingface-hub
idna
intel-openmp
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mergedeep
mkdocs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkl
ml @ git+https://github.com/E-commerce-Pecista/ml-interface.git@0e769454cd4297436fabfcd2e641a93e6baecf63
ml-dtypes
mpmath
multidict
mysql-connector-python
namex
nest-asyncio
networkx
numpy
openpyxl
opt-einsum
optree
packaging
paginate
pandas
parso
pathspec
platformdirs
prompt-toolkit
protobuf
psutil
psycopg
psycopg-binary
pure-eval
Pygments
pymdown-extensions
python-dateutilpost0
python-dotenv
pytz
pywin32
PyYAML
pyyaml_env_tag
pyzmq
regex
requests
rich
safetensors
setuptools
six
stack-data
sympy
tbb
tensorboard
tensorboard-data-server
tensorflow-intel
termcolor
tokenizers
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
virtualenv
watchdog
wcwidth
Werkzeug
wheel
wrapt
yarl
